player-connection-mode=Listen
player-connection-guid=540923178
player-connection-debug=0
player-connection-project-name=FishMMO
player-connection-ip=192.168.1.190
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ac771b737fe543ed9d16b31655bc386e
