player-connection-mode=Listen
player-connection-guid=2360255554
player-connection-debug=0
player-connection-project-name=FishMMO
player-connection-ip=172.86.113.170
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c9ed0a2dc9ef4a7a90354cf40d5d8e0b
