player-connection-mode=Listen
player-connection-guid=1480247763
player-connection-debug=0
player-connection-project-name=FishMMO
player-connection-ip=172.86.113.170
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=f236302910c94dc3a870d8c67dbbfccb
