player-connection-mode=Listen
player-connection-guid=3905003388
player-connection-debug=0
player-connection-project-name=FishMMO
player-connection-ip=192.168.25.1
player-connection-ip=192.168.18.1
player-connection-ip=192.168.1.125
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5a7cf5d05bc642dfa73bbfa77858748e
