player-connection-mode=Listen
player-connection-guid=4067868687
player-connection-debug=0
player-connection-project-name=FishMMO
player-connection-ip=172.86.113.170
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=3c3b9356a267473dbaf9c3674807a3b8
